.profile-img {
	width: 100px;
	border-radius: 50%;
}
.main-menu {
	display: flex;
	justify-content: center;
	margin-top: -3rem;
	.button:not(:first-of-type){
		margin-left: 15px;
	}
}
.button {
	display: flex;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 38px;
    padding: 0 20px;
    border: rgba(0,0,0,0.1) 1px solid;
    color: #9EABB3;
    background-color: white;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 35px;
    white-space: nowrap;
    border-radius: 3px;
    transition: all ease 0.3s;
    text-decoration:none;

    /*span {
    	margin-right: 10px;
    	display: flex;
    	/*width: 20px;*/
    /*}*/
    
    img {
    	width: 20px;
    	height: 20px;
    	margin: auto;
    	padding-right: 8px;

    }
    &.button--github img, &.button--articles img, &.button--twitter img {
    	opacity: 0.6;
    }
}